<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Blogs</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light shadow navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand"><span class="text-dark ">B</span>logger<span class="text-dark ">Z</span></a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/blogs" class="nav-link">Blog list</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Web develoment
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        History
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Sports
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Medical
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="h3 mb-3">Blog List</h1>
                <div class="card mb-3 shadow rounded overflow-hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/static/images/cat.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Javascript Interview Questions
                                </h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae minima voluptate soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 shadow rounded overflow-hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/static/images/banana-cat.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Javascript Interview Questions
                                </h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae minima voluptate soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 shadow rounded overflow-hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/static/images/beluga.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Javascript Interview Questions
                                </h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae minima voluptate soluta!</p>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- PAGINATION -->
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a href="#" class="page-link">
                                Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a href="#" class="page-link">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">
                                3
                            </a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
               
            </div>
        </div>
    </div>
</body>
</html>